@model webf.Models.Days

@{
    ViewBag.Title = "List";
}

<h2>Test experimental page</h2>

 @using(Html.BeginForm("List","Home",FormMethod.Post)){

    @Html.DropDownListFor(vir=>vir.CurrentDay, Model.List)
    <input type="submit" name="Go"/>
}
