

.tableCSS {    
    width: 100%;
    
}
.tableCSS td
{
    width: 50%;     
    padding:10px;
}

table .tblParagraph {
    text-align: center;
    font-weight: bolder;
}

.InpImageCls {
    margin: 12px 12px 12px 12px;
    
}
